@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-800 bg-white;
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .translate-z-10 {
    transform: translateZ(10px);
  }

  .translate-z-20 {
    transform: translateZ(20px);
  }

  .translate-z-30 {
    transform: translateZ(30px);
  }

  .translate-z-40 {
    transform: translateZ(40px);
  }

  .translate-z-50 {
    transform: translateZ(50px);
  }

  .translate-z-60 {
    transform: translateZ(60px);
  }
}